
// .dropdown select2-dropdown {
//     width: 500px !important;
// }
// #appSelect{
//     display: none;
// }
// .dropdown .select2-container--default .select2-selection--single{
//     background-color: transparent !important;
// }
// .dropdown .select2-container--default .select2-selection--single .select2-selection__rendered{
//     color: white;
// }
// .dropdown .select2-container--default .select2-selection--single .select2-selection__arrow b{
//     border-color:#fff transparent transparent transparent;
// }
// .dropdown .select2-container--default .select2-selection--single, .select2-selection .select2-selection--single {
//     border: 0px !important;
// }
// .dropdown .select2-results__option{
//     width: 500px !important;
// }
// .dropdown dropdown-wrapper{
//     display: none;
// }
// .dropdown select2-dropdown {
//     width: 500px !important;
// }
// #appSelect{
//     display: none;
// }
// .dropdown .select2-container--default .select2-selection--single{
//     background-color: transparent !important;
// }
// .dropdown .select2-container--default .select2-selection--single .select2-selection__rendered{
//     color: white;
// }
// .dropdown .select2-container--default .select2-selection--single .select2-selection__arrow b{
//     border-color:#fff transparent transparent transparent;
// }
// .dropdown .select2-container--default .select2-selection--single, .select2-selection .select2-selection--single {
//     border: 0px !important;
// }
// .dropdown .select2-results__option{
//     width: 500px !important;
// }
// .dropdown dropdown-wrapper{
//     display: none;
// }
// #select2-appSelect-container{
//     text-align: right !important;
// }



.add-btn-you{
    height: 30px;
    width: 50%;
    display: inline-block;
    line-height: 30px;
    border: 1px solid #ddd;
    text-align: center;
}