.notice-table /deep/{
    .el-table__row{
        td{
            &:nth-child(2){
                .cell{
                    height: 25px;
                    .notice-title{
                        display: inline-block;
                        width: 100%;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        height: 100%;
                        line-height: 25px;
                    }
                }
            }
        }
    }
}
