.el-card {
  width: 98.2%;
  margin: 15px auto 0 auto;
  border-top: 3px solid #3c8dbc;
}
.search_wrapper {
display: flex;
align-items: center;
}
.top_box {
margin-top: 25px;
}
.block {
  margin-top: 20px;
  float: right;
}
.box_timeW {
display: flex;
margin-right: 5px;
}