.repairs-box{
    h3{
        border-left: 5px solid #3c8dbc;
        padding-left: 5px;
        line-height: 20px;
        margin-bottom: 20px;
        font-size: 20px;
    }
    .repairs-msg{
        width: 50%;
        padding-left: 30px;
        h4{
            color: #000;
        }
        >p{
            margin-bottom: 0;
            line-height: 24px;
        }
        .img-box{
            img{
                width: 120px;
                height: 120px;
            }
        }
        /deep/{
            .el-textarea__inner{
                height: 120px;
            }
        }
    }
}