.add-h4{
  padding-left:10px;
  margin-left:20px ;
  border-left: 5px solid #3c8dbc;
}
.add-icon{
  font-weight: 600;
  color: #3c8dbc;
}

.upload_box /deep/ {
  .el-upload {
      width: 150px;
      height: 150px;
      border-radius: 2px;
      border: 1px solid rgba(158, 157, 162, 1);
      text-align: center;
      line-height: 150px;
  }
  .el-upload-dragger {
      width: 148px;
      height: 148px;
      border: 0;
  }
}


.set-pop /deep/{
  .el-input__inner{
    border-color: #bbb;
  }
  .el-form-item__content{
      text-align: center;
  }
  .el-range-editor.el-input__inner{
      width: 100%;
  }
  .el-input,.el-select,.el-switch{
      width: 100%;
  }
  .el-select>.el-input{
      width: 100%;
  }
  .el-radio-group{
      width: 100%;
  }
  .el-dialog__footer{
      text-align: center;
  }
  .el-cascader{
    width: 100%;
    .el-input{
      width: 100%;
    }
  }
}
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409EFF;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 148px;
  height: 148px;
  line-height: 148px;
  text-align: center;
  border: 1px dashed #c0ccda;
}
.avatar {
  width: 148px;
  height: 148px;
  display: block;
}
