.my_card-box {
  display: flex;

}
.my_card .el-row {
  display: flex;
  align-items: center;
}
.my_card-box .el-input {
  width: 285px;
}
.btn_box {
  margin-top: 20px;
}
.box-table {
  margin-top: 10px;
}
.block {
  margin-top: 20px;
  float: right;
}
>>> .el-upload__input {
  display: none;
}
.observationList {
  display: flex;
  align-items: center;
}
.observationList .el-image {
  width: 145px;
  height: 145px;
}
.observationList .el-select {
  width: 70%;
}
.observationList >>> .el-upload {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 65px;
  margin-left: 20px;
}
.observationList span::before {
  content: "*";
  color: red;
}
.observationList .el-input {
  width: 70%;
}
._top {
  margin-top: 20px;
}
.el-upload--picture-card {
  width: 90px;
  height: 90px;
  line-height: 90px;
}
._siyou {
  color: #696b6f;
  font-weight: 600;
}
>>>.el-icon-plus {
  font-weight: 600;
}
.el-card {
	width: 98.2%;
	margin: 15px auto 0 auto;
	border-top: 3px solid #3c8dbc;
}
.dlog_box {
  margin-left: 10%;
}